.about {
  background-color: #bada55;
  display: grid;
  grid:
    "... ...    title   ...     ..." min-content
    "... detail picture picture ..." 1fr
    / 1fr 1fr max-content 1fr 1fr;

  &__title {
    grid-area: title;
    color: white;
    font-size: 2em;
    margin: 0 auto;
  }

  &__image {
    grid-area: picture;
    max-width: 450px;
  }

  &__detail {
    grid-area: detail;
  }
}

.portfolio {
  background-color: orange;
}
